* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  /* box-sizing: border-box; */
}
.container {
  width: 1320px;
  margin: 0 auto;
}
li {
  list-style: none;
}
.btn_primary {
  padding: 12px 20px;
  border-radius: 48px;
  background: #ff42a5;
  border: 0;
  color: #fff;
  margin: 2px 5px;
}
.new-section {
  margin: 50px 0;
}
/* comon css  */

/* nav css start */
#navbar {
  padding: 16px 0px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
#navbar .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80px; */
}
#navbar .main .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#navbar .logo h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#navbar .logo span {
  color: #ff42a5;
}
#navbar .logo img {
  width: 86.041px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 15px;
}
#navbar .main .menu ul {
  display: flex;
  align-items: center;
}
#navbar .main .menu ul li {
  margin-right: 32px;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.icon_menu {
  display: flex;
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  align-items: center;
  padding: 18px 8px;
  justify-content: center;
  margin-right: 0 !important;
}
.icon_menu img {
  height: 24px;
  margin-left: 15px;
}

/* nav bar end  */
/* banar part start  */
#banar {
  /* background-color: rgb(214, 214, 214); */
}
#banar .main {
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banaer_pic {
  width: 500px;
  margin-left: 100px;
}
.banaer_pic img {
  width: 100%;
}
.overlay_main {
  margin-right: 202px;
}
.banaer_content {
}
.baner_overlay {
  background: url(../images/Group_14.png) center no-repeat;

  background-size: cover;
  width: 100%;
  /* height: 700px; */
  height: 100%;
  flex-shrink: 0;
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.baner_text {
  padding-top: 50px;
}
.baner_text h3 {
  color: #0b0223;
  /* text-align: center; */

  font-size: 48px;

  font-weight: 600;

  text-transform: uppercase;
}
.baner_text h2 {
  /* text-align: center; */
  font-family: Work Sans;
  font-size: 95px;

  font-weight: 800;

  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baner_text p {
  color: #534c64;
  /* text-align: center; */
  font-family: Work Sans;
  font-size: 20px;

  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
  margin-left: 25px;
}

.baner_btn {
  /* margin: 0 auto; */

  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.baner_btn button {
  padding: 12px 20px;
  border-radius: 48px;
  background: #ff42a5;
  border: 0;
  color: #fff;
  margin: 2px 5px;
  cursor: pointer;
}
.baner_btn button:nth-child(2) {
  background: #4ec5f7;
}
/* baner part end  */
/* online game part start  */
#online_game {
}
#online_game .title {
  text-align: center;
  margin-bottom: 30px;
}
#online_game .title p {
  color: #534c64;

  font-size: 18px;

  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
#online_game .title h2 {
  color: #0b0223;

  font-family: Work Sans;
  font-size: 40px;

  font-weight: 700;
}
#online_game .title h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#online_game .game_content {
  position: relative;
  border-radius: 16px;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  border-bottom-left-radius: 0;
}
#online_game .game_content .pic {
  position: relative;
  border-radius: 16px;
}
#online_game .game_content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

#online_game .game_content .overlay .icon {
  transition: opacity 0.3s ease;
  cursor: pointer;
}
#online_game .game_content .overlay .icon p {
  text-align: center;

  font-size: 20px;

  font-weight: 600;

  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#online_game .game_content .overlay .icon img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
#online_game .game_content .pic:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

#online_game .game_content .pic img {
  width: 100%;
  display: block;
}
#online_game .game_content .pic:hover {
  border: 2px solid #f948b2;
}

#online_game .text {
  /* font-size: 20px; */
  color: #534c64;
  font-weight: 500;
  /* line-height: 30px; */
  margin-top: 10px;
  font-size: 15px;
}
#online_game .game_contenter {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* online part end  */
/* play part start  */
#play {
}
#play .main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.play_content {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.play_content .play_text {
  width: 300px;
  /* background-color: red; */
  text-align: right;
}

.play_text h3 {
  font-size: 42px;

  font-weight: 700;
  line-height: 60px; /* 125% */
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play_text h4 {
  color: #0b0223;

  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.play_text p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 15px;

  font-weight: 400;
  line-height: 30px;
}
.play_pic {
  height: 500px;
}
.play_pic img {
  height: 100%;
}
.play_pic .sml_img {
  height: 200px;
  position: relative;
  right: 80px;
  bottom: 160px;
}

.play_pic .sml_img img {
  height: 100%;
}

/* play part end  */
/* games part start  */
#game {
  padding: 30px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
#game .main {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1055px;

  margin: 0 auto;
  flex-wrap: wrap;
}
#game .item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;

  padding: 5px 10px;
  transition: all 0.3s;
}
#game .pic {
  width: 40px;
}
#game .pic img {
  width: 100%;
}
#game .tex p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#game .item:hover {
  border: 1px solid #ff42a5;
  background: #fff;
}

/* game part end  */
/* footer part start  */
footer {
  /* height: 500px; */
  background: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fotter_logo .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.fotter_logo .logo h3 {
  text-align: center;

  font-size: 45px;

  font-weight: 700;

  color: #fff;
}
.fotter_logo .logo span {
  color: #ff42a5;
}
.fotter_logo .logo img {
  width: 86.041px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 15px;
}
.foter_menu ul {
  display: flex;
  gap: 50px;
  margin-top: 25px;
}
.foter_menu li {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.foter_icon {
  margin: 40px 0;
  /* background-color: red; */
  /* width: 320px; */
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.foter_icon button {
  height: 40px;

  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.foter_icon img {
  height: 100%;
}
.foter_descrip {
  /* margin: 20px 0; */
  margin-bottom: 30px;
}
.foter_descrip ul {
  display: flex;
  gap: 50px;
}
.foter_descrip li {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.foter_copyright p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
